# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@host.neon.tech/dimetrix?sslmode=require"

# Auth.js
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
